{% load static %}

<footer class="mt-auto">
  <div class="container text-center">

    <div class="row py-2 justify-content-center">

      <div class="col-auto">
        <a href="https://github.com/mykytaso/">
          <img src="{% static 'icons/icon_git.png' %}" alt="GitHub" height="34">
        </a>
      </div>

      <div class="col-auto">
        <a href="https://www.linkedin.com/in/mykytaso/">
          <img src="{% static 'icons/icon_in.png' %}" alt="LinkedIn" height="34">
        </a>
      </div>

      <div class="col-auto">
        <a href="https://www.codewars.com/users/mykytaso/">
          <img src="{% static 'icons/icon_cw.png' %}" alt="Codewars" height="34">
        </a>
      </div>

      <div class="col-auto">
        <a href="https://www.instagram.com/mykytaso/">
          <img src="{% static 'icons/icon_inst.png' %}" alt="Instagram" height="34">
        </a>
      </div>

      <div class="col-auto">
        <a class="" href="https://savelife.in.ua/en/donate-en/">
          <img src="{% static 'icons/icon_cba.png' %}" alt="Come Back Alive" height="34">
        </a>
      </div>


    </div>

    <div class="row justify-content-center pt-2 pb-3">
      <div class="col-auto">
        <small class="text-black-50"><i class="bi bi-c-circle"></i> 2025 Mykyta Soloviov</small>
      </div>
    </div>

  </div>
</footer>
