html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#post-field {
    border-radius: 30px;
    background-color: white;
    color: #323232;
}

#content-creator-panel-field {
    border-radius: 30px;
    /*background-color: #fafbfb;*/
    color: #555d64;
}

#card-img-top-corners {
    border-radius: 19px 19px 0 0;
}

#post-img-corners {
    border-radius: 16px;
}

#text_image_description {
    color: #6d6d6d;
    font-style: italic;
    font-size: 15px;
    margin-top: 10px;
}

#text_bold {
    font-weight: bold;
}

#text_italic {
    font-style: italic;
}

#text_title_h1 {
    font-size: 2.5em;
    font-weight: bold;
}

#text_title_h2 {
    font-size: 2em;
    font-weight: bold;
}

#text_title_h3 {
    font-size: 1.75em;
    font-weight: bold;
}

#text_title_h4 {
    font-size: 1.5em;
    font-weight: bold;
}

#text_title_h5 {
    font-size: 1.25em;
    font-weight: bold;
}

.cls-color {
  color: black;
}

#creator_panel_button {
    text-align: start;
    width: 125px;
}

