{% extends "base.html" %}
{% load static %}

{% block content %}

  <div class="container">

    <div class="row mt-md-5 mt-1 justify-content-center">
      <div class="col-auto fs-2 fw-bolder">
        About me
      </div>
    </div>

    <div class="row mt-md-3 mb-md-4 mt-2 mb-3 justify-content-center">
      <div id="post-field" class="col-11 col-md-8 col-lg-8 p-4 p-lg-5 border">

        <p>Hi, my name is Mykyta, and I’m a Python Developer.</p>
        <p>I love engineering stuff, and programming is the perfect tool for me to do so. In the physical space, I have fun messing around with Fusion 360 and 3D Printing.</p>
        <p>
          <span class="fw-semibold">Locations:</span><br>
          🇺🇦&nbsp; Ukraine <span class="fw-lighter">(Until 2017)</span><br>
          🇵🇹&nbsp; Portugal <span class="fw-lighter">(2017–2024)</span><br>
          🇺🇸&nbsp; USA, FL <span class="fw-lighter">(2024–Present)</span>
        </p>

      </div>
    </div>

  </div>

{% endblock %}
